<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Certificate Generator</title>
</head>
<body>
    <form action="post" method="post">
        Kindly Enter the Following Datas <br>
        <input type="text" name="title_of_Certificate" placeholder="Title"> <br>
        <input type="text" name="name_of_Candidate" placeholder="Name"> <br>
        <input type="text" name="details_of_Certificate" placeholder="Details of Certificate"> <br>
        <input type="text" name="name_of_Instructor" placeholder="Instructor Name"> <br>
        <input type="submit" class="button-type-a">
    </form>
</body>
</html>